@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600;700&family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');
*{padding: 0;  margin: 0; font-family: 'Raleway', sans-serif;}
html, body {
    height: 100%;
}
a{text-decoration: none;}

#autocompleteResults::-webkit-scrollbar {
    display: none;
}
header {
    height: 6%;
    width: 100%;
    display: flex;
    position: relative;
    z-index: 99;
    /*overflow: hidden;*/
    background-color: white;
}

#brand {
    float: left;
    position: relative;
    width: 10%;
    height: 60px;
    left: 2%;
}

#brand > a {
    display: block;
    line-height: 55px;
    text-align: center;
    color: #f8a9f2;
    font-size: 18px;
    font-weight: 700;

}

#userInfo {
    position: relative;
    width: 10%;
    height: 100%;
    right: 7%;
    float: right;
}

#userInfo > .btn {
    background-color: #f8a9f2;
    position: relative;
    border: none;
    width: 100%;
    height: 100%;
    line-height: 50px;
}
.dropdown-item{
    z-index: 99;
}
section {
    width: 100%;
    border: none;
    height: 93%;
    position: relative;
    background-color: white;

}

section:after {
    content: "";
    display: block;
    clear: both;
}

#mapShow {
    position: relative;
    width: 97%;
    height: 100%;
    float: right;
    border-radius: 10px; /* 테두리 둥글게 만들기 */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3); /* 그림자 효과 추가 */
}
#search {
    border: none;
    width: 20%;
    height: 45px;
    position: absolute;
    left: 2%;
    top : 1%;
    background-color: white;
    border-radius: 10px;
    z-index: 99;
}

#inputLocation {
    border: none;
    position: relative;
    width: 70%;
    height: 42px;
    display: block;
    float: left;
    background-color: white;
    margin-left: 2%;
    outline: none;

}
#map {
    position: relative;
    width: 100%;
    height: 100%;

}

.custom-btn {
    position: relative;
    width: 10%;
    top: 6px;
    border: none;
    margin-right: 1%;
    margin-left: 1%;
    background-color: white;
}
.custom-btn img {
    height: auto;
    object-fit: cover;
}
.custom-btn:hover {
    cursor: pointer;
}
.custom-btn:active, .btn:focus { border: none; box-shadow: none; }

#autocompleteResults {
    list-style: none;
    width: 100%;
    top: 15px;
    position: relative;
    background-color: white;
    border: none;
}

#autocompleteResults li {
    padding: 10px;
    cursor: pointer;
    width: 100%;
    top: 3%;
    height: 35px;
    border-left: none;
    border-right: none;
    overflow: hidden;
    margin-left : 4px;

}
#autocompleteResults li:last-child {
    border-bottom: none; /* 마지막 항목의 라인 제거 */
}

#autocompleteResults li:hover {
    background-color: #dcd5fb;
}
#map {
    position: relative;
    width: 100%;
    height: 100%;

}
.detailShow {
    position: absolute;
    width: 24%;
    height: 100%;
    top: 0%;
    background-color: white;
}
.imageBox {
    width: 100%;
    height: 25%;
    overflow: hidden;
}

.imageBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.touristIntr {
    width: 100%;
    height: 13%;

}
.touristName {
    width: 100%;
    height: 55%;
    overflow: hidden;
}
#touristNameA {
    font-size: 20px;
    line-height: 350%;
    margin-left: 5%;
    font-weight: bold;
}
.touristScoreVisit {
    width: 100%;
    height: 45%;

}
#visitCnts {
    line-height: 50%;
    margin-left: 5%;
    font-weight: 400;
}

.detailIntr{
    width: 100%;
    height: 61%;
    position: relative;

}
.detail-info{
    margin-top: 20px;
    width: auto;
    margin-left: 5%;
    margin-bottom: 7%;
    display: flex;
    align-items: flex-start
}
.info-content {
    display: flex;
    align-items: flex-start;
}
#address{
    margin-top: 10%;
}
#address > a {
    font-size: 13px;
}
.info-text {
    margin-left: 5%;
    font-weight: 400;
}
.long-text {
    font-size: 10px;
    word-wrap: break-word;
}
.second-tab-box{
    max-height: 510px;
    overflow-y: auto;
    overflow-x: hidden;
}
.review-box{
    width: 90%;
    height: 165px;
    border-bottom: 1px solid rgb(211, 216, 211);
    margin-left: 27px;
    position: relative;
}
.review-p{
    width: 100%;
    height: 100px;
    margin-top: 15px;
}
.review-p p{
    font-size:15px;
    word-wrap: break-word;
    text-overflow: ellipsis;
}
.reviewer-info {
    width: 97%;
    height: 50px;
    margin-left: 10px;

}
.reviewer-name {
    height: 25px;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
}
.reviewer-etc {
    height: 25px;
    width: 100%;
    display: flex;
    align-items: center;
}
.score {
    margin-left: 10px;
}

.arrow-button {
    width: 10px;
    height: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 50%;
    color: rgb(248, 179, 247);
    font-size: 16px;
    margin-left: auto;
    margin-top: -16px;
}

/* 아래 부등호 모양 스타일링 */
.arrow-button::before {
    content: "\2193"; /* 아래 방향 부등호 유니코드 */
    font-weight: bold;
}

/* 버튼에 호버 효과 */
.arrow-button:hover {
    cursor: pointer;
}
