<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>맵 화면</title>
    <link rel="stylesheet" type="text/css" href="/CSS/map-service/Map.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/gh/teddy95/starry@5/dist/starry.min.css" type="text/css" rel="stylesheet" />
</head>

<body>
<header>
    <div id="brand">
        <a>Gwangju Delights</a>
    </div>
    <div id="userInfo">
        <a class="btn btn-secondary dropdown-toggle" id="user-id" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">홍길동 님
        </a>

        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">마이페이지</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">로그아웃</a></li>
        </ul>
    </div>
</header>
<section>
    <div id="mapShow">

        <div id="search">
            <input type="text" id="inputLocation" placeholder="찾고자 장소를 입력해주세요"
                   autocomplete="off">
            <button class="custom-btn" id="searchBtn"> <img src="/IMG/MAP/Etc/search.png">
            </button>
            <button class="custom-btn" id="cancelBtn"> <img src="/IMG/MAP/Etc/cancel.png">
            </button>
            <ul id="autocompleteResults"></ul>
        </div>
        <div id="map">

        </div>
        <div class="detailShow" style="display: none">
            <div class = "imageBox">
                <img class="touristImg" src="">
            </div>
            <div class = "touristIntr">
                <div class = "touristName">
                    <a id = "touristNameA"></a>
                </div>
                <div class = "touristScoreVisit">
                    <a id = "visitCnts"></a>

                </div>
                <div class="comment">
                    <img id='add-review-img' src="/IMG/MAP/MapInfoIcon/comment.png">
                </div>
            </div>
            <div class="detailIntr">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link tab-info active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="true">정보</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link tab-second-info" id="review-tab" data-bs-toggle="tab" data-bs-target="#review" type="button" role="tab" aria-controls="review" aria-selected="false">리뷰</button>
                    </li>

                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
                        <div class="detail-info" id="address">
                            <img src="/IMG/MAP/MapInfoIcon/address.png" alt="">
                            <a class="info-text long-text"></a>
                        </div>
                        <div class="detail-info" id="intro">
                            <div class="info-content">
                                <img src="/IMG/MAP/MapInfoIcon/intro.png" alt="">
                                <p class="info-text long-text"></p>
                            </div>
                        </div>
                        <div class="detail-info" id="parking">
                            <img src="/IMG/MAP/MapInfoIcon/parking.png" alt="">
                            <a class="info-text short-text"></a>
                        </div>
                        <div class="detail-info" id="capacity">
                            <img src="/IMG/MAP/MapInfoIcon/capacity.png" alt="">
                            <a class="info-text short-text"></a>
                        </div>
                        <div class="detail-info" id="contact">
                            <img src="/IMG/MAP/MapInfoIcon/telephone.png" alt="">
                            <a class="info-text short-text"></a>
                        </div>
                        <div class="detail-info" id="reference">
                            <img src="/IMG/MAP/MapInfoIcon/google.png" alt="">
                            <a class="info-text" id="googleLink" target="_blank">구글 검색</a>
                        </div>
                    </div>
                    <div class="tab-pane fade second-tab-box" id="review" role="tabpanel" aria-labelledby="review-tab">

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" id = 'myModal'>
        <div class="modal-content">
            <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">로딩 중</h5>
                </div>
            </div>
        </div>
</div>
<div class="modal fade" id="addReviewModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">리뷰 추가</h5>
            </div>
            <div class="modal-body">
                <div id="review-modal-body">
                    <div class="mb-3">
                        <label class="col-form-label modal-review-name"
                               id="review-tour-Nm"></label>
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label modal-review-rating">점수</label>
                        <div id="star-rating"></div>
                        <div class="star-score"></div>
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">리뷰 내용</label>
                        <textarea class="form-control" id="modal-review-text"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                <button type="button" class="btn btn-primary" id="review-add-btn">추가</button>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript"
        src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=ClientId"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/gh/teddy95/starry@5/dist/starry.min.js" type="text/javascript"
        language="javascript"></script>
<script type="module" src="/JS/map-service/map.js"></script>
</body>

</html>