<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>맵 화면</title>
    <link rel="stylesheet" type="text/css" href="/CSS/Map.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>

<body>
<header>
    <div id="brand">
        <a>Gwangju Delights</a>
    </div>
    <div id="userInfo">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            홍길동 님
        </a>

        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">마이페이지</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">로그아웃</a></li>
        </ul>
    </div>
</header>
<section>
    <div id="mapShow">

        <div id="search">
            <input type="text" id="inputLocation" placeholder="찾고자 장소를 입력해주세요"
                   autocomplete="off">
            <button class="custom-btn" id="searchBtn"> <img src="/IMG/Etc/search.png">
            </button>
            <button class="custom-btn" id="cancelBtn"> <img src="/IMG/Etc/cancel.png">
            </button>
            <ul id="autocompleteResults"></ul>
        </div>
        <div id="map">

        </div>
        <div class="detailShow" style="display: none">
            <div class = "imageBox">
                <img class="touristImg" src="">
            </div>
            <div class = "touristIntr">
                <div class = "touristName">
                    <a id = "touristNameA"></a>
                </div>
                <div class = "touristScoreVisit">
                    <a id = "visitCnts"></a>

                </div>
            </div>
            <div class="detailIntr">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link tab-info active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="true">정보</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link tab-second-info" id="review-tab" data-bs-toggle="tab" data-bs-target="#review" type="button" role="tab" aria-controls="review" aria-selected="false">리뷰</button>
                    </li>

                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
                        <div class="detail-info" id="address">
                            <img src="/IMG/MapInfoIcon/address.png" alt="">
                            <a class="info-text long-text"></a>
                        </div>
                        <div class="detail-info" id="intro">
                            <div class="info-content">
                                <img src="/IMG/MapInfoIcon/intro.png" alt="">
                                <p class="info-text long-text"></p>
                            </div>
                        </div>
                        <div class="detail-info" id="parking">
                            <img src="/IMG/MapInfoIcon/parking.png" alt="">
                            <a class="info-text short-text"></a>
                        </div>
                        <div class="detail-info" id="capacity">
                            <img src="/IMG/MapInfoIcon/capacity.png" alt="">
                            <a class="info-text short-text"></a>
                        </div>
                        <div class="detail-info" id="contact">
                            <img src="/IMG/MapInfoIcon/telephone.png" alt="">
                            <a class="info-text short-text"></a>
                        </div>
                    </div>
                    <div class="detail-info" id="reference">
                        <img src="/IMG/MapInfoIcon/google.png" alt="">
                        <a class="info-text" id="googleLink" target="_blank">구글 검색</a>
                    </div>
                </div>
                <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">...</div>

            </div>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=클라이언트ID"></script>
<script type="module" src="/JS/map.js"></script>
</body>

</html>